
.aboutBanner{
min-height:350px;
background:url("/images/aboutBanner.jpg");
background-size:cover;
background-attachment: fixed;
background-repeat:no-repeat;
background-position: bottom right;
}

.contentContainer{
box-shadow:0px 9px 8px #00000017;
background:#102a49;
color:white;
}

.contentContainer p{ 
color: #ffffff;
}


.storyContainer p{
line-height:1.5em;
text-align: justify;
color:grey;
}


.aboutBackground{
background:#ec5c4df0;
min-height: 400px;
background-size:cover;
}

.ourMission p{
color:grey;
}


@media(min-width:1200px){
.contentContainer{
width:60%;
margin:auto;
}

.aboutBackgroundContent{
width:60%;
margin:auto;
}

.aboutNumber h1{
font-size:60px;
}
}

.missionSection i{
font-size:40px;
margin-bottom:10px;
color:#050834;
}

.ourValue{
background:#102A49;
}

#testimonialSlider{
background:#ed6557;
}
/* testimonial */
.testimonialItemInner{
    padding: 5px;
    border-radius: 3px;
    color:#211d1a;
    }
    
    .testimonialItemInner p{
    color:white;
    text-align:center;
    }    
    
    .clientTestimonial .slide{
    padding:2px;
    }
    
    .testimonialItemInner i{
    font-size:35px;
    }

    .testimonialItemInner h5{
    margin-top:10px;
    color:white;
    }

    @media(min-width:992px){
    .testimonialItemInner p{
    width:70%;
    margin:auto;
    }

    .contentContainer{
    top:70px;
    }
    }
    
    /* testimonial end */