    *{
        font-family: 'Muli', sans-serif;
        }
        .blogstudyBanner{
        min-height:220px;
        background:rgb(97, 3, 114);
        }
        .blogstudyInnerContent{
        bottom:0px;
        background:white;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
        }
        .blogstudySecondSec h6{
        font-weight:600;
        line-height:1.5em;
        }
        .viewAllArrow{
        transition: 0.5s;
        }
        .blogList{
        background:rgb(54, 54, 54);
        padding:auto 10px;
        }
        .blogList .nav-link{
        padding:15px;
        }
        .blogListParent a,.blogListParent a:hover{
        text-decoration: none;
        }
        .blogstudySecondSec{
        box-shadow: 0px 10px 10px rgba(95, 95, 95, 0.15);
        }
        .blogDate{
        font-weight:300;
        font-size:12px;
        right:0px;
        bottom:0px;
        background:#dbdbdb;
        padding:2px 6px;
        color:rgb(82, 82, 82);
        font-weight:bold;
        }
        .blogPara{
        font-size:14px;
        }
        .blogList li a,.blogList li a:hover{
        color:white;
        border:none;
        border-radius: none;
        }
        .blogRead{
        font-size:13px;
        padding: 2px 4px;
        border: 1px solid #cecece;
        color: #969696;
        box-shadow: 0px 0px 10px #00000005;
        transition: 0.5s;
        }
        .bloglistSec:hover  .blogRead{
        background: #00d862;
        color: white;
        border: 1px solid #00d862;
        }    
        #blogHead span{
        border-bottom:5px solid #e65cff;
        }
        @media(min-width:1200px){
        .blogstudyBanner h1{
        font-size:65px;
        text-shadow:3px 2px 0 #3636360d, 7px 5px 0 rgba(74, 74, 74, 0.03);
        }
        }
        .blogDetailsContent  p{
        line-height: 1.75em;
        color: rgb(87, 87, 87);
        text-align: justify;
        }
        /* blog Study Details */
     
        .blogDetailsParent{
        box-shadow:0px 0px 10px #74747440;
        }
        .blogDetailsDateShare .sharebutton{
        font-size:25px;
        cursor:pointer;
        }
      
        .blog-detail-date{
        background:#00d862;
        padding:0px 10px;
        color:white;
        }
        .blogDetailsContent h1{
        line-height:1.25em;
        }
        .shareBtnParent{
        height:45px;
        width:45px;
        background:#c2c2c2;
        color:white;
        border-radius: 50%;
        box-shadow:0px 6px 6px #00000032;
        transition:0.5s;
        cursor:pointer;
        }
        .shareBtnParent:hover{
        background:#00d862;
        color:white;
        transform:scale(1.1);
        }
        @media(max-width:768px){
        .blogDetailsContent h1{
        font-size:30px;
        }
        }
        @media(min-width:1200px){
        .blogDetailsParent{
        width:80%;
        margin:auto;   
        }
        }
    
    /* blog Study Details End  */