*{
font-family: 'Muli', sans-serif;
}

.alter-mar{
    margin-right: 150px;
}

.wrap-1{
    background-image: url(/images/xcareers-1920x1080.jpg.pagespeed.ic.-aMQSqoXUN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}

.height-fix{
    min-height: 100vh;
}

.head-align{
    top: 50%;
    transform: translateY(-50%);
}

.head{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 500;
}

.wrap-2{
    min-height: 100vh; 
}

.bg-collage-image-1{
    background-image: url(/images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 253px;
    height: 389px;
}

.bg-collage-image-2{
    background-image: url(/images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 253px;
    height: 389px;
}

.bg-collage-image-3{
    background-image: url(/images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 253px;
    height: 389px;
}

.alter-h4-collage{
    font-size: 30px;
    font-weight: 900;
}

.alter-height-wrap-2{
    min-height: 100vh;
}

.bg-collage-image-1:hover{
    opacity: 0.5;
}

.bg-collage-image-2:hover{
    opacity: 0.5;
}

.bg-collage-image-3:hover{
    opacity: 0.5;
}

.wrap-3{
    min-height: 100vh;
}

.alter-p-wrap-3{
    font-size: 25px;
    color: gray;
    font-weight: 100;
}

.alter-p{
    font-size: 22px;
}

.alter-p-wrap-4{
    font-size: 25px;
    color: gray;
    font-weight: 100;
}

.wrap-4{
    min-height: 100vh;
}

.alter-card-bg{
    background-color: #f2f2f2;
}

.alter-p-wrap-5{
    font-size: 25px;
    color: gray;
    font-weight: 100;
}

.wrap-5{
    min-height: 100vh;
}

.ad-banner{
    width: 100%;
    height: 209px;
    background-image: url(/images/ad-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.alter-btn-radius{
    border-radius: 0 !important;
}

.alter-banner-h1{
    width: 22%;
}

.carousel-control-next-icon{
    position: relative;
    right: -125px !important;
}

.carousel-control-prev-icon{
    position: relative;
    left: -125px !important;
}

.alter-p-banner-top{
    color: grey;
    font-size: 40px;
    font-weight: 100;
}


.carousel-control-next-icon{
    background-image: url(/images/arrow.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 32px !important;
    width: 32px !important;
}

.carousel-control-prev-icon{
    background-image: url(/images/arrow-left.png) !important;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 32px !important;
    width: 32px !important;
}

.country-block-wrap-6{
    color: #000;
    display: block;
    font-size: 25px;
    height: 200px;
    width: 248px;
    font-weight: 600;
    padding: 75px 0;
    text-align: center;
    text-decoration: none;
    background-color: #ffd9d9;
}


.country-block-wrap-6:hover{
    color: white;
    display: block;
    font-size: 25px;
    height: 200px;
    width: 248px;
    font-weight: 600;
    padding: 75px 0;
    text-align: center;
    text-decoration: none;
    background-color: #f59681;
}

.fl-right{
    right: 0;
}

.poi-cur{
    cursor: pointer;
}

.effect-card:hover{
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff;
    transform: scale(1.1);
    transition: 0.5s;

}

.hover-eff{
    background-color: orange !important;
    /* opacity: 0.8; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .floating-img{
        display: none;
    }

    .carousel-control-prev-icon{
        display: none !important;
    }

    .carousel-control-next-icon{
        display: none !important;
    }

    .ad-banner{
        display: none;
    }

    .alter-p-banner-top{
        text-align: center;
        font-size: 31px;
    }

    .t-c{
        text-align: center !important;
    }

    .mob-mr{
        margin-right: .25rem;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
   
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

  }

  .floating-img{
   display:block 
  }