
.career-form {
    /* background: #2d248a; */
    background: url('/images/keyboard-background.jpg');
    height: 100vh;
}

.form-container {
    background: #2d248a96;
}

.text-red {
    color: #e42c64;
}

.text-green {
    color: #08ffc8;
}

.btn-upload {
    background: #e42c64;
}

.btn-submit {
    background: #08ffc8;
}

.pointer-cursor {
    cursor: pointer;
}

@media(min-width: 767px) {
    .form-container {
        border-radius: 12px;
        width: 50vw;
    }
}