*{
font-family: 'Muli', sans-serif;
}
.casestudyBanner{
min-height:220px;
background:rgb(70, 28, 157);
}
.casestudyInnerContent{
bottom:0px;
background:white;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
}
.casestudyInnerContent h5{
font-weight:600;
line-height:1.45em;
}
.viewAllArrow{
transition: 0.5s;
}
.casestudyInner:hover .viewAllArrow, .caselistSec:hover .viewAllArrow{
background:#00d862;
color:white;
transform:scale(1.1);
}
.caseDate{
font-weight:300;
}
.caseList{
background:rgb(54, 54, 54);
padding:auto 10px;
}
.caseList .nav-link{
padding:15px;
}
.tab-pane-custom a,.tab-pane-custom a:hover{
text-decoration: none;
}
.casestudySecondSec{
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
}
.caseList li a,.caseList li a:hover{
color:white;
border:none;
border-radius: none;
}
.caseListParent .caseList .nav-link{
border-top-left-radius: 0rem;
border-top-right-radius: 0rem
}
.caseListParent .nav-tabs .nav-link.active{
color: #ffffff;
background-color: #00d862;
font-weight: bold;
border:none;
border-bottom:1px solid #00d862;
box-shadow:0px 0px 2px rgba(0, 0, 0, 0.185);
cursor:default;
} 
.caseListParent .nav-tabs{
box-shadow: 0px -5px 5px #4545453d;
border:none;
}
.casestudyInner img, .caselistSec img{
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.dateArrow .viewAllArrow{
height: 40px;
width: 40px;
background: #c2c2c2;
border-radius: 50%;
box-shadow: 0px 6px 6px #00000032;
}
.dateArrow .viewAllArrow i{
color:white;
}

@media(min-width:1200px){
.casestudyBanner h1{
font-size:65px;
text-shadow:3px 2px 0 #3636360d, 7px 5px 0 rgba(74, 74, 74, 0.03);
}
}


/* Case Study Details */
.caseDetails{
min-height:70vh;
background-size:cover;
}
.caseDetailsParent{
box-shadow:0px 0px 10px #74747461;
position:relative;
bottom:150px;
}
.caseDetailsDateShare .sharebutton{
font-size:25px;
cursor:pointer;
}
.caseDetailsContent p{
line-height: 1.75em;
color:rgb(87, 87, 87);
text-align:justify;
}
.caseDetailsContent h1{
line-height:1.25em;
}
.shareBtnParent{
height:45px;
width:45px;
background:#c2c2c2;
color:white;
border-radius: 50%;
box-shadow:0px 6px 6px #00000032;
transition:0.5s;
cursor:pointer;
}
.shareBtnParent:hover{
background:#00d862;
color:white;
transform:scale(1.1);
}
@media(max-width:768px){
.caseDetailsContent h1{
font-size:30px;
}
}
@media(min-width:1200px){
.caseDetailsParent{
width:80%;
margin:auto;   
}
}

/* Case Study Details End  */