.banner {
  background-image: url(/images/contactus-banner.jpg);
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.alter-p-banner-float {
  color: #0f2a49;
  font-size: 48px;
  top: 30%;
  left: 23%;
  margin-bottom: 0;
  font-style: oblique;
  font-weight: 800;
  border-bottom: 10px solid #ec5c4df0;
  transform: translate(-10%, -40%);
 }

.wrap-dt {
  background-color: #ec5c4df0;
}

.display-text {
  font-family: "Varela Round", sans-serif;
  color: white;
  min-height: 10vh;
  font-size: 35px;
}

.alter-margin-below-text {
  margin-bottom: 50px;
}

svg {
  height: 6rem !important;
}

svg.pointer path {
  fill: #ec5c4df0;
  stroke: #ec5c4df0;
  stroke-width: 1;
}

.alter-text-field {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1.2em 0.25em 1.2em 1em;
  transition: border-color 0.25s ease-in-out;
  width: 44% !important;
}

.alter-text-area {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1.2em 0.25em 1.2em 1em;
  transition: border-color 0.25s ease-in-out;
  width: 100%;
}

.alter-btn-send {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  color: #ec5c4df0;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "din", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2.25em;
  border: 1px solid #ec5c4df0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.125em 1.5em 0;
  position: relative;
  outline: 0 none;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
}

.alter-p-form-head {
  margin: 0.5em 0 0em 0;
  color: #102a49;
  font-weight: normal;
  font-family: "Ultra", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  text-transform: uppercase;
  /* text-shadow: 0 2px white, 0 3px #777; */
}

.alter-form-radius {
  border-radius: 40px;
  margin-top: 50px;
}

.right-bottom {
  background-color: #ec5c4df0;
}

.btn-pill {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "din", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2.25em;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.125em 1.5em 0;
  position: relative;
  outline: 0 none;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: white !important;
}

.left-bottom {
  background-color: #102a49;
  color: #ffffff;
}

.logo-bottom {
  margin-bottom: 10px;
}

.left-bottom-head {
  color: #ec5c4df0;
  border-bottom: 1px solid #ec5c4df0;
  padding-bottom: 2px;
}

.color-change {
  color: #ec5c4df0;
}

.color-ch-a {
  color: #ffffff;
}

.alter-hr {
  width: 20%;
  margin: auto;
  height: 3px;
  background: #ec5c4df0;
}

/* Arrow  starts here*/
.arrow-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  top: 75px;
}

.arrow-1 {
  width: 100px;
  height: 100px;
  background: #102a49;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2 {
  width: 60px;
  height: 60px;
  background: #102a49;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before {
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
}

.arrow-2 i.fa {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

/* Custom Animate.css */

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/* Arrow Ends here */

@media only screen and (max-width: 768px) {
  .alter-text-field {
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 1.2em 0.25em 1.2em 1em;
    transition: border-color 0.25s ease-in-out;
    width: 100% !important;
  }

  .arrow-container {
    top: 87px;
  }

  .alter-p-banner-float {
    font-size: 30px;
    left: 50%;
    top: 60%;
    width: 100%;
  }

  .banner {
    background-image: url(../images/banner-image-contactus-3.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .display-text {
    font-family: "Varela Round", sans-serif;
    color: white;
    min-height: 10vh;
    font-size: 20px;
  }
}
