.add-padding {
    background-color: #071520;
    padding: 50px 50px;
    height: 100vh;
    min-height: 100vh;
  }
  #right-top-cross-menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
  }
  
  #right-top-cross-menu-navs a,
  .pees a,
  .fabicons a {
    text-decoration: none;
    color: white;
  }
  
  .pees .navitemLink a,
  .peers .navitemLink a:hover {
    line-height: 2.2em;
    font-size: 15px;
    letter-spacing: 1px;
    display: block;
    color: white;
    text-decoration: none;
  }
  .navigation-1-col {
    background-color: #df9926;
    height: 100vh;
    min-height: 100vh;
  }
  
  .navigation-2-col {
    background-color: #0f9ffa;
    height: 100vh;
    min-height: 100vh;
  }
  
  .navigation-3-col {
    background-color: #963596;
    height: 100vh;
    min-height: 100vh;
  }
  
  .alter-btn {
    background-color: #596771;
    outline: none;
    border-radius: 50%;
    border-color: transparent;
    width: 50px;
    height: 50px;
    color: white;
    z-index: 99999999;
  }
  
  .alter-btn:focus {
    outline: none;
  }
  
  .cross-btn {
    z-index: 9999;
    position: fixed;
    top: 15px;
    right: 15px;
    outline: none;
    padding: 7px;
    box-shadow: 0px 0px 5px #ffffff;
    border-radius: 50%;
    background: #071520;
    transform: scale(0.75);
    border: 3px solid #f4f4f4;
    transition: 0.5s;
  }
  
  .industries h1 {
    font-family: "Oswald", sans-serif;
  }
  
  .industries {
    background-color: #f2f2f2;
    min-height: 100vh;
    top: 0;
  }
  
  .industries ul li {
    text-decoration: none;
    list-style: none;
    padding: 20px 0px;
    border-bottom: 1px solid #dadada;
    font-weight: 100;
  }
  
  .industries ul {
    padding: 0;
    margin: 0;
  }
  
  .heading-ind {
    margin-top: 20px;
  }
  
  .indus-h1 {
    font-size: 70px;
  }
  
  .add-sp-h {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .services {
    background-color: #f2f2f2;
    min-height: 100vh;
    top: 0;
  }
  
  .services ul {
    padding: 0;
    margin: 0;
  }
  
  .services ul li {
    text-decoration: none;
    list-style: none;
    padding: 20px 0px;
    border-bottom: 1px solid #dadada;
    font-weight: 100;
  }
  
  .heading-services {
    margin-top: 20px;
  }
  
  .services-h1 {
    font-size: 70px;
    font-family: "Oswald", sans-serif;
  }
  
  .heading-platform {
    margin-top: 20px;
  }
  
  .platform-h1 {
    font-size: 70px;
    font-family: "Oswald", sans-serif;
  }
  
  .platforms ul li {
    text-decoration: none;
    list-style: none;
    padding: 20px 0px;
    border-bottom: 1px solid #dadada;
    font-weight: 100;
  }
  
  .platforms ul {
    padding: 0;
    margin: 0;
  }
  
  .platforms {
    background-color: #f2f2f2;
    height: 100vh;
    min-height: 100vh;
    top: 0;
  }
  
  .aboutus {
    background-color: #f2f2f2;
    height: 100vh;
    min-height: 100vh;
    top: 0;
  }
  
  .aboutus ul {
    padding: 0;
    margin: 0;
  }
  
  .aboutus ul li {
    text-decoration: none;
    list-style: none;
    padding: 20px 0px;
    border-bottom: 1px solid #dadada;
    font-weight: 100;
  }
  
  .heading-aboutus {
    margin-top: 20px;
  }
  
  .aboutus-h1 {
    font-size: 70px;
    font-family: "Oswald", sans-serif;
  }
  
  .right-top-cross-menu-navs a,
  .right-top-cross-menu-navs span a:hover {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .navigationMenu h2 {
    line-height: 1.4em;
    letter-spacing: 1.1px;
    text-shadow: 0px 0px 5px rgba(229, 229, 229, 0.18);
  }
  @media (min-width: 992px) {
    .navigationMenu p {
      font-size: 20px;
    }
  }
  
  .menuItem {
    z-index: 999;
  }
  
  .arrow-back i {
    font-size: 33px;
    cursor: pointer;
    position: relative;
    top: 15px;
  }
  
  .navigationInner {
    height: 100vh;
    min-height: 100vh;
  }
  
  .hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover {
    cursor: pointer;
  }
  
  .logo-revinfotech {
    margin-top: 35px;
  }
  
  /* Humburger Icon */
  #hamburger.is-active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger.is-active .line:nth-child(2) {
    width: 0px;
  }
  
  #hamburger.is-active .line:nth-child(1),
  #hamburger.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  #hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }
  
  /* Humburger Icon End */
  
  /* Footer Style Start */
  
  
  .list-item {
    list-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .footer-list-link {
    color: #5d5d5d;
  }
  
  .footer{
  margin-top:100px;
  }

  .kill-ul-style{
      list-style: none;
  }

  .add-bg{
    background-color: #2c2c48;
  }

 .footer a{
     color: white;
 }

 .footer i{
     color: white;
 }

 .footer-bottom{
     background-color: darkgray;
 }
  /* Footer Style End */
  