

*{
font-family: 'Muli', sans-serif;
}

.content-parent{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-holder-div1{
    background-image: url(/images/col-back1.jpg);
    height: 300px;
    background-position: top;
}

.image-holder-div2{
    background-image: url(/images/col-back2.jpg);
    height: 285px;
}

.image-holder-div3{
    background-image: url(/images/col-back3.jpg);
    height: 285px;
}

.image-holder-div4{
    background-image: url(/images/col-back4.jpg);
    height: 285px;
}

.image-holder-div5{
    background-image: url(/images/col-back5.jpg);
    height: 285px;
}

.alter-fixation{
    padding: 0 ;
}

.alter-p-wrap-5{
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
    margin: auto;
    color: grey;
}

.alter-col-bottom{
    margin-bottom: 30px ;
}


.content-parent{
position:relative;
}

.content-item{
position:absolute;
left:0;
top:0;
bottom:0;
right:0;
background: rgba(0, 0, 0, 0.65);
padding:10px;
color:white;
opacity:0;
transition:0.5s;
font-size:15px
}

.content-parent{
transition:2s;
}

.content-parent:hover .content-item{
opacity:1;
}

.content-parent:hover .contentHeading{
display:none;
}

.contentHeading{ 
right: 0px;
padding: 3px 6px;
background: #040404d6;
box-shadow: 0px 8px 8px #00000094;
border-bottom-left-radius:8px;
}



@media(min-width:1200px){
.alter-p-wrap-5{
width:60%;
margin:auto;   
}
}


/* testimonial */
.testimonialItemInner{
padding: 5px;
border-radius: 3px;
color:#211d1a;
}

.testimonialItemInner p{
color:#717171;
}
.testimonialItemInner h5,.testimonialItemInner p{
font-weight:bold;
}


.clientTestimonial .slide{
padding:20px;
}

.testimonialItemInner i{
font-size:35px;
}

/* testimonial end */



/* career css */

.careerContainer{
background:url("/images/careers-video-img.jpg");
min-height:370px;
background-repeat: no-repeat;
background-size:cover;
position: relative;
}

.careerInner{
background:#000000;
color:white;
padding:20px;
}

.careerInner p{
color:white;
font-weight:normal;
}

.careerContainer button{
font-weight: 400;
padding: 7px 20px;
min-width: 200px;
font-weight:600;
background: black;
border: none;
color: white;
font-size: 18px;
box-shadow: 5px 10px 10px #00000059;
transition: 2s;
}

.careerContainer button:hover{
background:rgba(0, 0, 0, 0.753);
}

/* career css end */


/* Investor Section */
.investor-bg{
 background:url("/images/AR-19.png");
 height:500px;
 background-repeat:no-repeat;
 background-position: center;
 width:100%;
}

.investorItem{
padding:20px 0;  
border-bottom:1px solid rgb(216, 216, 216)
}

.investorItem:last-child{
border:none;
}


.viewAll,.viewAll:hover{
font-size:18px;
text-decoration: none;
}
/* Investor Section End */

@media(min-width:992px){
    .careerContainer .careerInner{
     width:40%;
     margin-left:auto;
    }
    #testimonialSlider .testimonialItemInner{
    width:55%;
    margin:auto;
    }
    .careerSlider{
     position: relative;
     top: 82px;
    }
    .image-holder-div1{
     height:570px;
  }
}


@media(max-width:768px){
.p-custom-0{
padding:0px !important; 
}
}