
*{
font-family: 'Muli', sans-serif;
}

/* Global Component Styles */
.shape-trapezoid {
  border-right: 20px solid transparent;
  border-top: 40px solid #000;
  width: 110px;
}

.button-trapezoid {
  left: 10px;
  bottom: 6px;
  font-weight: bold;
}

.shape-trapezoid-orange {
  border-right: 20px solid transparent;
  border-top: 30px solid #df9926;
  width: 110px;
}

.button-trapezoid-orange {
  left: 10px;
  bottom: 6px;
  font-weight: bold;
  font-size: 12px;
}

.button-outline {
  background-color: transparent;
  padding: 10px 50px;
  transition: 0.2s all;
  outline: none;
}
.button-outline:focus {
  outline: none;
}
.button-white {
  color: #fff;
  border: 1px solid #fff;
}
.button-white:hover {
  background-color: #000;
  border-color: #000;
}
.button-black {
  color: #000;
  border: 1px solid #000;
}

.button-black:hover {
  background-color: #000;
  color: #fff;
}

/* Global Component Styles End */

/* First Section Content Styles */
.industries-banner-image {
  background-image: url("/images/agriculture.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (min-width: 350px) {
  .industries-banner-content {
    position: absolute;
    top: 20%;
  }
}

@media (min-width: 767px) {
  .industries-banner-content {
    top: 40%;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .industries-banner-content {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .industries-banner-content {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .industries-banner-content {
    width: 35%;
  }
}

/* First Section Content Styles End */

/* Second Section Content Start */

.second-section-content .custom-heading-width {
  font-size: 40px;
  line-height: 40px;
}

.second-section-content .left-para {
  font-size: 30px;
  line-height: 45px;
}
@media (min-width: 767px) {
  .second-section-content .custom-heading-width {
    width: 70%;
    font-size: 60px;
    line-height: 1.2em;
  }
}

/* Third Section Content Styles Start */
.pos-style-1 {
  bottom: 0;
  left: 20px;
}
.pos-style-2 {
  top: 50px;
  left: 10px;
  right: 10px;
}
.pos-style-text-article {
  top: 10px;
  left: 10px;
}
.pos-style-text-readmore {
  bottom: 10px;
  left: 10px;
}
.para-excerpt-style {
  font-size: 17px;
  width: 90%;
}
.para-pos-style {
  bottom: 100px;
  left: 10px;
}
.para-pos-style-bottom {
  top: 80px;
  left: 10px;
}
.corner-shape-style {
  width: 100%;
  height: auto;
  border-bottom: 170px solid #00b28f;
  left: 0;
  bottom: 0;
}
.para-pos-style-shape {
  top: 10px;
  left: 10px;
}

.vw-m-100,
.vw-sm-100 {
  width: 100vw;
}

@media (min-width: 991px) {
  .vw-m-100,
  .vw-sm-100 {
    width: auto;
  }
}
/* Third Section Content Styles End */

/* Fourth Section Content Styles Start */
.min-height-500 {
  min-height: 500px;
}

.section-fourth .bg-light-blue {
  background-color: #bee3ff;
}

.section-fourth .para-style {
  font-size: 30px;
  line-height: 30px;
}

.bottom-30 {
  bottom: 30px;
}
/* Fourth Section Content Styles End */

/* Fifth Section Content Styles Start */
.section-fifth {
  background-color: #372261;
}

.min-height-400 {
  min-height: 400px;
}

.left-20-bottom-30 {
  left: 20px;
  bottom: 30px;
}

.section-fifth .heading-style {
  font-size: 70px;
  line-height: 70px;
}

.section-fifth .para-style {
  font-size: 40px;
  line-height: 40px;
}

.section-fifth .anchor-style {
  font-size: 22px;
  line-height: 30px;
}

.section-fifth a.hover-style:hover {
  text-decoration: none;
  color: #007bff !important;
}

@media (min-width: 767px) {
  .section-fifth .w-md-85 {
    width: 85%;
  }
}

/* Fifth Section Content Styles End */




.second-section-content h5,.section-third h5{
line-height: 1.6em;
color:grey;
}