.wrap-1{
    min-height: 100vh;
}

.back-img-1{
    background-image: url(../images/sustainability-2018-19-home.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h-fix{
    min-height: 100vh;
}

.head-div{
    top: 50%;
    transform: translateY(-50%);
}

.alter-main-h1{
    font-size: 45px ;
    font-family: 'Oswald', sans-serif ;
    font-weight: bolder;
}

.btn-alter{
    border-radius: 0px ;
    padding: 13px 60px ;
    letter-spacing: 3px;
    font-weight: bolder ;
    font-size: 12px ;
    font-family: 'Oswald', sans-serif ;
    outline: none;
}

.btn-alter:hover{
    background-color: black ;
    border: 1px solid transparent ;
}

.back-img-2{
    background-color: #df9926;
}

.wrap-2{
    min-height: 100vh;
}

.alter-btn{
    border-radius: 0px ;
    padding: 13px 60px ;
    letter-spacing: 3px;
    font-weight: bolder ;
    font-size: 12px ;
    font-family: 'Oswald', sans-serif ;
    color: white ;
    background-color: transparent ;
    outline: none;
}

.alter-btn:hover{
    background-color: black ;
    border: 1px solid transparent ;
}


.wrap-2-heading{
    font-size: 59px ; 
    font-weight: 700;
    font-family: 'Oswald', sans-serif ;
}

.wrap-2-a{
    text-decoration: none;
}

.wrap-2-a:hover{
    text-decoration: none;
}

.alter-p-wrap-2{
    color:#d3d3d3 ;
}

.view-btn,.view-btn:hover{
    font-size: 16px;
    color: #f8f9fa;
    border: 1px solid #e9e9e9;
    padding: 2px 10px;
    margin:10px auto;
    border-radius: 8px;
}

.bg-float-image{
    background-image: url(../images/wrap-2-float.png);
    background-position: right center;
    background-repeat: none;
    background-size: cover;
}

.back-img-3{
    background-color: #0f9ffa ;
}   

.wrap-3-heading{
    font-size: 58px ; 
    font-weight: 700;
    font-family: 'Oswald', sans-serif ;
}

.alter-p-wrap-3{
    color:#d3d3d3 ;
}

.wrap-3-a{
    text-decoration: none;
}

.bg-float-image-wrap-3{
    background-image: url(../images/wrap-3-float.png);
    background-position: left ;
    background-repeat: none;
    background-size: cover;
}

.wrap-2{
    min-height: 100vh;
}

.wrap-3{
    min-height: 100vh;
}

.wrap-3-a:hover{
    text-decoration: none;
}

.alter-gap{
    padding-left: 13px;
}

.wrap-4{
    min-height: 100vh;
}

.back-img-4{
    background-color: #963596 ;
}

.wrap-4-heading{
    font-size: 58px ; 
    font-weight: 700;
    font-family: 'Oswald', sans-serif ;
    word-break:break-all;
}

.alter-p-wrap-4{
    color:#d3d3d3 ;
}

.wrap-4-a:hover{
    text-decoration: none;
}

.bg-float-image-wrap-4{
    background-image: url(../images/wrap-4.png);
    background-position: right center;
    background-repeat: none;
    background-size: cover;
}

.wrap-5{
    min-height: 100vh;
}

.alter-h1-head{
    font-size: 60px;
    font-family: 'Oswald', sans-serif ;
    font-weight: 500;

}

.image-holder-div1{
    background-image: url(../images/col-back1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
}

.image-holder-div2{
    background-image: url(../images/col-back2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 283px;
}

.image-holder-div3{
    background-image: url(../images/col-back3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 283px;
}

.image-holder-div4{
    background-image: url(../images/col-back4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 283px;
}

.image-holder-div5{
    background-image: url(../images/col-back5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 285px;
    width: 283px;
}

.alter-fixation{
    padding: 0 ;
}

.alter-p-wrap-5{
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    width: 70%;
    margin: auto;
    color: grey;
}

.alter-col-bottom{
    margin-bottom: 30px ;
}

.wrap-7{
    min-height: 100vh;
}

