.btn-orange{
background: #f37a5f;
color: white;
border: none;
box-shadow: 0px 10px 10px transparent;
}
.toknLauncherBanner{
background:#2c2c48;
min-height:420px;
}
.headingBorder{
width:120px;
height:3px;
background:#ff886d;   
}
.tokenFeatureHead{
max-width:500px;
margin:auto;
}
.featureItem{
background: #2c2c48;
display: flex;
align-items: center;
justify-content: center;
min-height: 300px;
max-width: 350px;
margin:auto;
box-shadow:0px 5px 12px #00000042;
}
.featureContent{
bottom:0px;
background:rgb(243, 122, 95);
padding:8px;
color:white;
height:42px;
overflow:hidden;
box-shadow:0px -5px 5px #1313255e;
}

.featureItem:hover .featureContent{
height:auto;
}

/* How it works */
.page-header h1{
    color:white;
    }
    
    .timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;
    }
    
    .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #d1d0d08f;
      left: 50%;
      margin-left: -1.5px;
    }
    
    .timeline>li {
      margin-bottom: 70px;
      position: relative;
    }
    
    .timeline>li:last-child{
    margin-bottom:0;
    }
    
    .timeline>li:before,
    .timeline>li:after {
      content: " ";
      display: table;
    }
    
    .timeline>li:after {
      clear: both;
    }
    
    .timeline>li:before,
    .timeline>li:after {
      content: " ";
      display: table;
    }
    
    .timeline>li:after {
      clear: both;
    }
    
    .timeline>li>.timeline-panel {
      width: 46%;
      float: left;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      background: #ffffffff;
      border: 1px solid #d7d7d74d;
      box-shadow: 0px 4px 8px #00000026;
    }
    
    .timeline>li>.timeline-panel:before {
        position: absolute;
        top: 19px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #cccccca2;
        border-right: 0 solid #cccccc9f;
        border-bottom: 15px solid transparent;
        content: " ";
    }
    
    .timeline>li>.timeline-panel:after {
      position: absolute;
      top: 20px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #ffffff;
      border-right: 0 solid #ffffff;
      border-bottom: 14px solid transparent;
      content: " ";
    }
    
    .timeline>li>.timeline-badge {
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -25px;
      background-color: #2a2a41;
      z-index: 100;
      box-shadow: 0px 10px 15px #4c4c4c52;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel {
      float: right;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    
    .timeline>li.timeline-inverted>.timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
    
    
    .timeline-title {
      margin-top: 0;
      color: inherit;
      margin-bottom:0px;
      color:#001842;
    }
    
    .timeline-body>p,
    .timeline-body>ul {
      margin-bottom: 0;
    }
    
    .timeline-body>p+p {
      margin-top: 5px;
    }

    .teamitem{
    max-width:420px;
    box-shadow:0px 0px 10px #0000001c;
    }
    
    @media (max-width: 767px) {
      ul.timeline:before {
        left: 40px;
      }
    
      ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }
    
      ul.timeline>li>.timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
      }
    
      ul.timeline>li>.timeline-panel {
        float: right;
      }
    
      ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
    
      ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
    
    .rotate {
      -moz-transition: all 2s linear;
      -webkit-transition: all 2s linear;
      transition: all 2s linear;
    }
    
    .rotate.down {
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    
    .roadMap-conatiner{
    background:url("./assets/images/map.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    overflow-x:hidden;
    background-position:center;
    }
    
    .processSection{
    word-break:break-word;
    }

    /* how it works end */

    /* our client */
     .logoSection img{
    border:1px solid rgba(141, 141, 141, 0.3);
    padding:10px 20px;
    max-width:170px;
     }
    /* our client */