body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

input {
  outline: none; }

@media (min-width: 1200px) {
  .container {
    max-width: 1180px; } }

h1 {
  font-size: 36px;
  line-height: 36px; }

h2 {
  font-size: 32px;
  line-height: 32px; }

h3 {
  font-size: 24px;
  line-height: 24px; }

h4 {
  font-size: 18px;
  line-height: 22px; }

h5 {
  font-size: 16px;
  line-height: 22px; }

h6 {
  font-size: 14px;
  line-height: 18px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #1d1f25; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #1d1f25; }

p {
  color: #383838;
  line-height: 1.53;
  letter-spacing: 0.14px; }

a {
  color: #ffcd36;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover,
  a :focus,
  a :active {
    text-decoration: none;
    color: #ffcd36; }

.btn, .btn:focus, .btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }

.main-title {
  font-size: 39px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: 0.2px; }

.sub-title {
  font-weight: 300;
  letter-spacing: 0.36px;
  font-size: 15px;
  line-height: 1.4;
  color: #1d1f25; }

footer .sub-title {
  font-size: 18px;
  line-height: 1.22; }

.primary-outline-btn {
  color: #ffcd36;
  border-radius: 4px;
  border: solid 1px #ffcd36;
  padding: 7px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background: none;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .primary-outline-btn:hover {
    background: #ffcd36;
    color: #ffffff;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }

.primary-text {
  color: #ffcd36; }

.fw-500 {
  font-weight: 500; }

::-webkit-input-placeholder {
  /* Edge */
  color: #a7a7a7; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7a7a7; }

::-ms-input-placeholder {
  color: #a7a7a7; }

::placeholder {
  color: #a7a7a7; }

.searchIcon {
  background: url("../images/searchIcon.svg") 195px 13px no-repeat; }

.text-light-grey {
  color: #9e9e9e; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto; }

body {
  padding-top: 68px; }

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #030c26;
  z-index: 999;
  min-height: 68px; }
  .header-wrap .navbar {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header-wrap .navbar .navbar-toggler {
      -webkit-box-shadow: 0 10px 20px 0 rgba(37, 119, 167, 0.07);
      box-shadow: 0 10px 20px 0 rgba(37, 119, 167, 0.07);
      background-color: #ffffff;
      color: #009cde;
      outline: none;
      line-height: 0;
      width: 34px;
      height: 34px;
      padding: 0; }
  .header-wrap.headerScroll .navbar {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .header-wrap .navbar-brand {
    margin-right: 60px; }
  @media (min-width: 992px) {
    .header-wrap .header-widget {
      margin: 0 -12px; } }
  .header-wrap .login-wrap, .header-wrap .register-wrap, .header-wrap .select-dropdown {
    margin: 0 12px;
    display: inline-block; }
    @media (max-width: 991px) {
      .header-wrap .login-wrap, .header-wrap .register-wrap, .header-wrap .select-dropdown {
        display: block;
        margin: 0;
        margin-bottom: 0.5rem;
        padding-left: 1.2rem; } }
  .header-wrap .login-link, .header-wrap .signup-link, .header-wrap .select-dropdown .btn {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.1; }

.select-dropdown .dropdown-toggle {
  padding: 7px 0;
  color: #9090a5; }

.select-dropdown .dropdown-menu {
  left: auto;
  right: 0;
  background-color: #030c26;
  min-width: 122px;
  -webkit-box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.25);
  margin-top: 1.5rem; }
  .select-dropdown .dropdown-menu .dropdown-item {
    color: #9090a5;
    padding: .75rem 1rem;
    font-size: 14px; }
    .select-dropdown .dropdown-menu .dropdown-item:hover, .select-dropdown .dropdown-menu .dropdown-item:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0;
      color: #ffffff;
      background-color: #030c26; }

@media (max-width: 991px) {
  .header-wrap .select-dropdown .dropdown-menu {
    left: 0;
    right: auto; } }

.navbar-nav .nav-item .nav-link {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.07px;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px; }

.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item .nav-link:hover {
  color: #ffcd36; }

.nav-links-right .angle-down {
  font-size: 12px; }

.footer-wrap {
  background-color: #030c26; }
  .footer-wrap * {
    color: #ffffff; }
  .footer-wrap .sub-title {
    color: #c9c9c9;
    margin-bottom: 28px; }
  .footer-wrap .join-comm {
    padding: 40px 0 40px;
    border-bottom: 1px solid #ffffff; }
  .footer-wrap .footer-title {
    margin-bottom: 13px;
    position: relative;
    display: inline-block; }
    .footer-wrap .footer-title::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 2px;
      background-color: #feca57;
      top: auto;
      bottom: 5px;
      left: calc(100% + 2px); }
  .footer-wrap .menu-list li a {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.85;
    letter-spacing: 0.03px; }
  .footer-wrap .copyright-text {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.06px;
    color: #b9b9b9; }
  .footer-wrap .footer-bottom {
    padding: 16px 0;
    background-color: #020817; }
  .footer-wrap .footer-main {
    padding: 40px 0 20px; }

.social-list {
  margin: 0 -6px; }
  .social-list li {
    display: inline-block;
    margin-bottom: 12px;
    padding-right: 6px;
    padding-left: 6px; }
    .social-list li .image-wrap {
      position: relative;
      display: inline-block; }
      .social-list li .image-wrap img {
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .social-list li .image-wrap .image-white {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0; }
      .social-list li .image-wrap:hover img {
        opacity: 0;
        visibility: hidden; }
      .social-list li .image-wrap:hover .image-white {
        position: absolute;
        opacity: 1;
        visibility: visible;
        top: 0;
        left: 0; }

.landing_Banner {
  background: #030c26 url("../../assets/images/bannerImage.png") no-repeat center bottom;
  min-height: 500px; }
  @media (min-width: 992px) {
    .landing_Banner h1 {
      font-size: 39px; } }
  .landing_Banner .synchroCategeory .synchroCategeoryItem {
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.685);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.685); }

.newly_Listed {
  margin-top: 100px; }
  .newly_Listed .newly_ListedContainer {
    border: 1px solid #ffd87a; }
    @media (min-width: 992px) {
      .newly_Listed .newly_ListedContainer {
        border-right: none; } }
    @media (max-width: 500px) {
      .newly_Listed .newly_ListedContainer {
        width: 95%;
        margin: auto;
        margin-bottom: 15px; } }
    .newly_Listed .newly_ListedContainer:last-child {
      border-right: 1px solid #ffd87a; }
      @media (min-width: 992px) {
        .newly_Listed .newly_ListedContainer:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px; } }
    @media (min-width: 992px) {
      .newly_Listed .newly_ListedContainer:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px; } }
    .newly_Listed .newly_ListedContainer .newly_ListedItem .ListedItem_Date {
      position: absolute;
      top: 0px;
      right: 0px;
      color: #7f7f7f;
      font-size: 14px;
      font-weight: 500; }
    .newly_Listed .newly_ListedContainer .newly_ListedItem .currentPrice {
      color: #7f7f7f;
      font-weight: 500; }
    .newly_Listed .newly_ListedContainer .newly_ListedItem .tradeNow {
      color: #ffcd36;
      text-decoration: none; }

.coinTableContainer {
  margin-top: 100px; }
  .coinTableContainer .coinNav {
    border-bottom: 1px solid #ffcd36; }
    @media (max-width: 768px) {
      .coinTableContainer .coinNav .listContainer {
        overflow-x: scroll; } }
    .coinTableContainer .coinNav .listContainer ul {
      min-width: 500px; }
      .coinTableContainer .coinNav .listContainer ul li {
        display: inline-block;
        color: #2d2d2d;
        line-height: 1.21;
        letter-spacing: 0.07px;
        cursor: pointer;
        padding: 12px; }
        @media (min-width: 992px) {
          .coinTableContainer .coinNav .listContainer ul li {
            padding: 18px; } }
      .coinTableContainer .coinNav .listContainer ul .activeItem {
        color: #ffcd36;
        border-bottom: 2px solid #ffcd36;
        cursor: default;
        letter-spacing: 1px; }
    .coinTableContainer .coinNav input {
      border: 1px solid #ffcd36;
      color: #ffcc20;
      letter-spacing: 1px;
      border-radius: 5px;
      padding: 6px 20px 6px 10px; }
  .coinTableContainer .coinTable table th {
    color: #9e9e9e;
    letter-spacing: 0.07px;
    font-weight: 500; }
  .coinTableContainer .coinTable table .low_rate span {
    background: #e3f3e9;
    padding: 2px 10px;
    border-radius: 4px;
    color: #30bc64;
    min-width: 85px; }
  .coinTableContainer .coinTable table .high_rate span {
    background: #f3e3e3;
    padding: 2px 10px;
    border-radius: 4px;
    color: #ea737a;
    min-width: 85px; }

.getStarted {
  margin-top: 100px;
  background: #1d1f25; }
  @media (min-width: 992px) {
    .getStarted .getStartedItem {
      margin-top: 20px; } }
  .getStarted .getStartedItem h3 {
    color: #ffd043;
    font-weight: 500; }
  @media (max-width: 1200px) {
    .getStarted .getStartedItem .getStartedContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      margin-bottom: 40px; } }
  .getStarted .bitcoinTransactionParent {
    margin-top: 100px; }
    @media (min-width: 992px) {
      .getStarted .bitcoinTransactionParent {
        margin-top: 160px; } }
    .getStarted .bitcoinTransactionParent .bitcoinTransaction {
      border-top: 2px solid #575757;
      border-right: 2px solid #57575755;
      border-left: 2px solid #57575755;
      border-bottom: none;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 20px 20px 0px 20px;
      position: relative;
      bottom: 40px; }
      .getStarted .bitcoinTransactionParent .bitcoinTransaction .bitcoinTransactionInner {
        position: relative;
        bottom: 20px; }
      .getStarted .bitcoinTransactionParent .bitcoinTransaction img {
        position: relative;
        bottom: 50px;
        background: #1d1f25;
        padding: 5px 20px; }
      .getStarted .bitcoinTransactionParent .bitcoinTransaction h3 {
        color: #ffd043;
        font-weight: 500; }

.partners-section {
  padding: 60px 0 77px;
  background-color: #ffffff; }
  .partners-section .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .partners-section .partner-item {
    padding: 0 15px; }
    .partners-section .partner-item .image-wrap {
      position: relative; }
    .partners-section .partner-item .image-yellow {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto; }
    .partners-section .partner-item:focus {
      outline: none;
      -webkit-box-shadow: 0;
      box-shadow: 0; }
  .partners-section .slick-center {
    border-left: 1px solid #feca57;
    border-right: 1px solid #feca57; }
    .partners-section .slick-center img {
      opacity: 0;
      visibility: hidden; }
    .partners-section .slick-center .image-yellow {
      opacity: 1;
      visibility: visible; }

.upcoming-platform {
  background-color: #f9f9f9;
  padding: 60px 0 40px; }
  .upcoming-platform .grid-item {
    min-height: 350px;
    max-width: 280px;
    background-image: url("../../assets/images/grid-bg.png");
    background-size: contain;
    background-position: center bottom;
    padding: 40px 38px;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto; }
    @media (max-width: 1199px) {
      .upcoming-platform .grid-item {
        padding: 30px; } }
  .upcoming-platform .image-wrap {
    margin-bottom: 33px; }
  .upcoming-platform .grid-title {
    margin-bottom: 45px; }

.features-section {
  padding: 60px 0 40px; }
  .features-section .title-wrap {
    margin-bottom: 50px; }
  .features-section .feature-content {
    width: calc(100% - 400px);
    padding-right: 40px; }
  .features-section .feature-image {
    width: 400px; }
  @media (max-width: 1199px) {
    .features-section .feature-image, .features-section .feature-content {
      width: 100%;
      padding-right: 0; }
    .features-section .feature-content {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .features-section .feature-image {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin-bottom: 2rem; } }
  .features-section .feature-item {
    padding: 23px 20px;
    border-radius: 18px;
    -webkit-box-shadow: 0 -2px 5px 0 rgba(124, 129, 174, 0.16);
    box-shadow: 0 -2px 5px 0 rgba(124, 129, 174, 0.16);
    background-repeat: no-repeat;
    height: 100%;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(8%, #feca57), color-stop(100%, #fffdf9), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #feca57 8%, #fffdf9 100%, #ffffff);
    background-image: -o-linear-gradient(top, #feca57 8%, #fffdf9 100%, #ffffff);
    background-image: linear-gradient(180deg, #feca57 8%, #fffdf9 100%, #ffffff);
    background-position-y: -250px;
    cursor: pointer; }
    .features-section .feature-item:hover {
      background-position-y: 0; }
