$lightBlack: #383838;

// Banner Section
.landing_Banner {
  background: #030c26 url("../../assets/images/bannerImage.png") no-repeat center bottom;
  min-height: 500px;

  h1 {
    @media (min-width: 992px) {
      font-size: 39px;
    }
  }

  .synchroCategeory{
    .synchroCategeoryItem{
    box-shadow:0px 10px 20px rgba(0, 0, 0, 0.685);
    }
  }
}

// Newly Listed Token
.newly_Listed {
  margin-top: 100px;
  .newly_ListedContainer {
    border: 1px solid #ffd87a;
    @media (min-width: 992px) {
      border-right: none;
    }

    @media (max-width: 500px) {
      width: 95%;
      margin: auto;
      margin-bottom: 15px;
    }

    &:last-child {
      border-right: 1px solid #ffd87a;
      @media (min-width: 992px) {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }

    &:first-child {
      @media (min-width: 992px) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }

    .newly_ListedItem {
      .ListedItem_Date {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #7f7f7f;
        font-size: 14px;
        font-weight: 500;
      }

      .currentPrice {
        color: #7f7f7f;
        font-weight: 500;
      }

      .tradeNow {
        color: #ffcd36;
        text-decoration: none;
      }
    }
  }
}

// Coin Table Container
.coinTableContainer {
  margin-top: 100px;
  .coinNav {
    border-bottom: 1px solid #ffcd36;
    .listContainer {
      @media (max-width: 768px) {
        overflow-x: scroll;
      }
      ul {
        min-width: 500px;

        li {
          display: inline-block;
          color: #2d2d2d;
          line-height: 1.21;
          letter-spacing: 0.07px;
          cursor: pointer;
          padding: 12px;

          @media (min-width: 992px) {
            padding: 18px;
          }
        }

        .activeItem {
          color: #ffcd36;
          border-bottom: 2px solid #ffcd36;
          cursor: default;
          letter-spacing: 1px;
        }
      }
    }
    input {
      border: 1px solid #ffcd36;
      color: #ffcc20;
      letter-spacing: 1px;
      border-radius: 5px;
      padding: 6px 20px 6px 10px;
    }
  }

  .coinTable {
    table {
      th {
        color: #9e9e9e;
        letter-spacing: 0.07px;
        font-weight: 500;
      }

      .low_rate {
        span {
          background: #e3f3e9;
          padding: 2px 10px;
          border-radius: 4px;
          color: #30bc64;
          min-width: 85px;
        }
      }

      .high_rate {
        span {
          background: #f3e3e3;
          padding: 2px 10px;
          border-radius: 4px;
          color: #ea737a;
          min-width: 85px;
        }
      }
    }
  }
}

// Get Started  in a few minutes

.getStarted {
  margin-top: 100px;
  background: #1d1f25;

  .getStartedItem {
    @media (min-width: 992px) {
      margin-top: 20px;
    }
    h3 {
      color: #ffd043;
      font-weight: 500;
    }
    .getStartedContent {
      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 40px;
      }
    }
  }

  .bitcoinTransactionParent {
    margin-top: 100px;
    @media (min-width: 992px) {
      margin-top: 160px;
    }
    .bitcoinTransaction {
      border-top: 2px solid #575757;
      border-right: 2px solid #57575755;
      border-left: 2px solid #57575755;
      border-bottom: none;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 20px 20px 0px 20px;
      position: relative;
      bottom: 40px;

      .bitcoinTransactionInner {
        position: relative;
        bottom: 20px;
      }
      img {
        position: relative;
        bottom: 50px;
        background: #1d1f25;
        padding: 5px 20px;
      }

      h3 {
        color: #ffd043;
        font-weight: 500;
      }
    }
  }
}
//  Partners section
.partners-section{
   padding: 60px 0 77px;
   background-color: #ffffff;
   .slick-track{
      display: flex;
      align-items: center;
   }
   .partner-item{
      padding: 0 15px;
      .image-wrap{
         position: relative;
      }
      .image-yellow{
         opacity: 0;
         visibility: hidden;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         margin: 0 auto;
      }
      &:focus{
         outline:none;
         box-shadow: 0;
      }
   }
   .slick-center{
      border-left: 1px solid #feca57;
      border-right: 1px solid #feca57;
      img{
         opacity: 0;
         visibility: hidden;
      }
      .image-yellow{
         opacity: 1;
         visibility: visible;
      }
   }
}
// upcoming platform
.upcoming-platform{
   background-color: #f9f9f9;
   padding: 60px 0 40px;
   .grid-item{
      min-height: 350px;
      max-width: 280px;
      background-image: url("../../assets/images/grid-bg.png");
      background-size: contain;
      background-position: center bottom;
      padding: 40px 38px;
      background-repeat: no-repeat;
      height: 100%;
      margin: 0 auto;
      @media(max-width: 1199px){
         padding: 30px;
      }
   }
   .image-wrap{
      margin-bottom: 33px;
   }
   .grid-title{
      margin-bottom: 45px;
   }
}
// features section
.features-section{
   padding: 60px 0 40px;
   .title-wrap{
      margin-bottom: 50px;
   }
   .feature-content{
      width: calc(100% - 400px);
      padding-right: 40px;
   }
   .feature-image{
      width: 400px;
   }
   @media(max-width: 1199px){
      .feature-image,.feature-content{
         width: 100%;
         padding-right: 0;
      }
      .feature-content{
         order: 2;
      }
      .feature-image{
         order: 1;
         margin-bottom: 2rem;
      }
   }
   .feature-item{
      padding: 23px 20px;
      border-radius: 18px;
      box-shadow: 0 -2px 5px 0 rgba(124, 129, 174, 0.16);
      background-repeat: no-repeat;
      height: 100%;
      transition: all 0.4s ease;
      // background-image: linear-gradient(180deg, #feca57 4%,#feeec9 60%, #fffdf9 100%, #ffffff);
      // background-image: linear-gradient(180deg, #feca57 0%, #feeec9 29%, #fffdf9 100%, #ffffff);
      background-image: linear-gradient(180deg, #feca57 8%, #fffdf9 100%, #ffffff);
      background-position-y: -250px;
      cursor: pointer;
      &:hover{
         background-position-y: 0;
      }
   }
}