$footer-bg:#030c26;
$footer-color: #ffffff;
.footer-wrap{
   background-color: $footer-bg;
   *{
      color: $footer-color;
   }
   .sub-title{
      color: #c9c9c9;
      margin-bottom: 28px;
   }
   .join-comm{
      padding: 40px 0 40px;
      border-bottom: 1px solid #ffffff;
   }
   .footer-title{
      margin-bottom: 13px;
      position: relative;
      display: inline-block;
      &::after{
         position: absolute;
         content: "";
         width: 13px;
         height: 2px;
         background-color: #feca57;
         top: auto;
         bottom: 5px;
         left: calc(100% + 2px);
      }
   }
   .menu-list li a{
      font-size: 13px;
      font-weight: 300;
      line-height: 1.85;
      letter-spacing: 0.03px;
      // color: $footer-color;
   }
   .copyright-text{
      font-size: 12px;
      font-weight: 300;
      line-height: 1.17;
      letter-spacing: 0.06px;
      color: #b9b9b9;
   }
   .footer-bottom{
      padding: 16px 0;
      background-color: #020817;

   }
   .footer-main{
      padding: 40px 0 20px;
   }
}

.social-list{
   margin: 0 -6px;
   li{
      display: inline-block;
      margin-bottom: 12px;
      padding-right: 6px;
      padding-left: 6px;
      .image-wrap{
         position: relative;
         display: inline-block;
         img{
            opacity: 1;
            visibility: visible;
            transition: all 0.4s ease;
         }
         .image-white{
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top: 0;
            left: 0;
         }
         &:hover{
            img{
               opacity: 0;
               visibility: hidden;
            }
            .image-white{
               position: absolute;
               opacity: 1;
               visibility: visible;
               top: 0;
               left: 0;
            }
         }
      }
   }
}