// Header
$header-bg:#030c26;
$header-color:#ffffff;
$header-height: 68px;
body{
   padding-top: $header-height;
}
.header-wrap {   
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color:$header-bg;
   z-index: 999;
   min-height: $header-height;
	.navbar{
		padding-top: 0;
		padding-bottom: 0;
      transition: all 0.3s ease;
      .navbar-toggler {
         box-shadow: 0 10px 20px 0 rgba(37, 119, 167, 0.07);
         background-color: #ffffff;
         color: #009cde;
         outline: none;
         // font-size: 16px;
         line-height: 0;
         width: 34px;
         height: 34px;
         padding: 0;
      }
	}
	&.headerScroll .navbar{
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
   }
   .navbar-brand{
      margin-right: 60px;
   }
   @media(min-width: 992px){
      .header-widget{
         margin: 0 -12px;
      }
   }
   .login-wrap, .register-wrap,.select-dropdown{
      margin: 0 12px;
      display: inline-block;      
      @media(max-width: 991px){
         display: block;
         margin: 0;
         margin-bottom: 0.5rem;
         padding-left: 1.2rem;
      }
   }
   .login-link,.signup-link,.select-dropdown .btn {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      line-height: 1.1;
   }
}
.select-dropdown{   
   .dropdown-toggle{
      padding: 7px 0;
      color: #9090a5;
   }
   .dropdown-menu{
      left: auto;
      right: 0;
      background-color: $header-bg;
      min-width: 122px;
      box-shadow: 0 0 8px 1px rgba(255,255,255,0.25);
      margin-top: 1.5rem;

      .dropdown-item{
         color: #9090a5;
         padding: .75rem 1rem;
         font-size: 14px;
         &:hover,&:focus{
            box-shadow: none;
            outline: 0;
            color: #ffffff;
            background-color: $header-bg;
         }
      }
   }
}
@media(max-width: 991px){
.header-wrap {
   .select-dropdown .dropdown-menu{
         left: 0;
         right: auto;
      }
   }
}

.navbar-nav .nav-item .nav-link {
   transition: all 0.3s ease;
   font-family: Roboto;
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: 0.07px;
   text-align: left;
   color: $header-color;
   padding-left: 20px;
   padding-right: 20px;
}
.navbar-nav .nav-item.active .nav-link,.navbar-nav .nav-item .nav-link:hover {
	color: #ffcd36;
}
.nav-links-right .angle-down {
	font-size: 12px;
	// color: $cus-secondary;
}