body {
   font-size: 14px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
}

input {
   outline: none;
 }
 
@media (min-width: 1200px) {
   .container {
      max-width: 1180px;
   }
}
h1 {
   font-size: 36px;
   line-height: 36px;
}

h2 {
   font-size: 32px;
   line-height: 32px;
}

h3 {
   font-size: 24px;
   line-height: 24px;
}

h4 {
   font-size: 18px;
   line-height: 22px;
}

h5 {
   font-size: 16px;
   line-height: 22px;
}

h6 {
   font-size: 14px;
   line-height: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 500;
   color: #1d1f25;
   a{
      color: #1d1f25;
   }
}
p {
   color: #383838;
   line-height: 1.53;
   letter-spacing: 0.14px;
 
}
a {
   color: #ffcd36;
   transition: all 0.3s ease;
   &:hover,
   :focus,
   :active {
     text-decoration: none;
     color: #ffcd36;
   }
}
.btn,.btn:focus, .btn:hover{
   box-shadow: none;
}
.main-title {
   font-size: 39px;
   font-weight: 500;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.21;
   letter-spacing: 0.2px;
   // color: #ffffff;
}
.sub-title {
   font-weight: 300;
   letter-spacing: 0.36px;
   font-size: 15px;
   line-height: 1.4;
   // color: #c9c9c9;
   color: #1d1f25;
}
footer .sub-title{
   font-size: 18px;
   line-height: 1.22;
}
 
//  buttons
.primary-outline-btn {
   color: #ffcd36;
   border-radius: 4px;
   border: solid 1px #ffcd36;
   padding: 7px 20px;
   font-family: 'Lato', sans-serif;
   font-size: 15px;
   background: none;
   outline:none;
   transition:0.5s;
 
   &:hover {
     background:#ffcd36;
     color: #ffffff;
     transform:translateY(-2px);
   }
}
.primary-text{
   color:#ffcd36;
}
.fw-500{
   font-weight: 500;
}
::-webkit-input-placeholder {
/* Edge */
   color: #a7a7a7;
}

:-ms-input-placeholder {
/* Internet Explorer 10-11 */
   color: #a7a7a7;
}

::placeholder {
   color: #a7a7a7;
}

.searchIcon {
   background: url("../images/searchIcon.svg") 195px 13px no-repeat;
}

.text-light-grey {
   color: #9e9e9e;
}
.wrapper{
   width: 100%;
   height: 100%;
   overflow: hidden;
   overflow-y: auto;
}