<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

data(){
  return {
    name: '',
    locations: [],
    website: '',
    description: '',
    roaster: false,
    validations: {
      name: {
        is_valid: true,
        text: ''
      },
      locations: [],
      oneLocation: {
        is_valid: true,
        text: ''
      },
      website: {
        is_valid: true,
        text: ''
      }
    }
  }
addLocation(){
  this.locations.push( { name: '', address: '', city: '', state: '', zip: '', methodsAvailable: [] } );
  this.validations.locations.push({
    address: {
      is_valid: true,
      text: ''
    },
    city: {
      is_valid: true,
      text: ''
    },
    state: {
      is_valid: true,
      text: ''
    },
    zip: {
      is_valid: true,
      text: ''
    }
  });
},
created(){
  this.addLocation();
},